:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content{
  min-height: calc(100vh - 70px - 64px);
}

.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
  gap: 1rem;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0.5rem;
}

label:not(:last-child){
  margin-right: 1rem;
}

.picture{
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 30%;
}

.picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress {
  background-color: #E1C6FC;
}

.progress .indeterminate {
  background-color: #A259FF;
}

@media (max-width: 930px){
  .picture{
    width: 700px;
    margin-left: 15%;
  }
}

@media (max-width: 768px){
  .picture{
    width: 600px;
    margin-left: 0;
  }
} 

@media (max-width: 500px){
  .picture{
    width: 100%;
    margin-left: 0;
  }
} 